body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center
}

#autores{

	text-align: center;
}

#autores th, #autores td {
	padding: 10px;
}

#infoCapa {
	text-align: center;
}
