body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url("pattern2.png");
	background-repeat: repeat;
}

p{
	margin-left: 10%;
	margin-right: 10%;
}

h2{
	margin-left: 5%;
}

h3{
	margin-left: 8%;
}

.listas {
	margin-left:10%;
}

.Indice {
	margin-left:8%;
}

.anexos{
	border-radius:10%;
}
